<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certifications">
        <div class="my-auto">
          <h2 class="mb-5">Certifications</h2>
          
          <ul class="fa-ul mb-0">
            <li>
              <div>
                  <h2><a href="https://www.microsoft.com/en-us/learning/mcsd-app-builder-certification.aspx">Microsoft Certified Solutions Developer: App Builder</a>
                  </h2>
              </div>
              <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e51512bd-6307-450c-aaf3-45e9a01e9f32"></div>
              <script type="text/javascript">
                (function() {
                  var s = document.createElement('script');
                  s.type = 'text/javascript';
                  s.async = true;
                  s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
                  var o = document.getElementsByTagName('script')[0];
                  o.parentNode.insertBefore(s, o);
                  })();
              </script>
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <div>
                    <h2><a href="https://www.microsoft.com/en-us/learning/mcsa-web-applications-certification.aspx">Microsoft Certified Solutions Associate: Web Applications</a></h2>
              </div>
              <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="01dd689f-eae6-4e0e-8719-96caadac93df"></div>
              <script type="text/javascript">
                (function() {
                  var s = document.createElement('script');
                  s.type = 'text/javascript';
                  s.async = true;
                  s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
                  var o = document.getElementsByTagName('script')[0];
                  o.parentNode.insertBefore(s, o);
                  })();
              </script>
            
            </li>
            
          </ul>
        </div>
      </section>