<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
        <div class="container">
                <div class="row">
                    <div>
                        <h2>Contact Me</h2>
                    </div>
                </div>
                <div class="row">
                    <div>
                        DM me on <a href="https://www.linkedin.com/in/mattcalsada/">LinkedIn</a> or <a href="https://twitter.com/mcal">Twitter</a>.
                    </div>
                </div>
            </div>
    </div>
</section>



   
