<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Developer</h3>
              <div class="subheading mb-3"><a href="http://atlas-sys.com">Atlas Systems, Inc.</a></div>
              <p>
                    Lead developer for ILLiad and Ares, managing development sprints, testing, and coordinating releases. Assist customer support team. Technical liasion with customers to extend products through extensible product addons. Quote custom development projects. Mentor and technical lead to other members of the development team.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2004 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Programmer/Analyst</h3>
              <div class="subheading mb-3"><a href="http://libraries.albany.edu">University at Albany Libraries</div>
              <p>Project Manager for Library Development · Database Administration · Mentor for interns</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2001 - August 2004</span>
            </div>
          </div>

        </div>

      </section>