<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="presentations">
        <div class="my-auto">
            <h2 class="mb-5">Presentations</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">Addon Hackathon: Build Beyond the Box</h3>
                    <div class="subheading mb-3">Atlas Makerspace · Virginia Beach, VA</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">March 2017</span>
                    </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">Extending ILLiad with Server Addons</h3>
                    <div class="subheading mb-3">IDS Conference · Albany, NY</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">July 2016</span>
                    </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">Extending ILLiad with Server Addons</h3>
                    <div class="subheading mb-3">ILLiad International Conference · Virginia Beach, VA</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">March 2016</span>
                    </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                <h3 class="mb-0">ILLiad Exposed: Making use of the Web Platform</h3>
                <div class="subheading mb-3">ILLiad International Conference · Virginia Beach, VA</div>
                </div>
                <div class="resume-date text-md-right">
                <span class="text-primary">March 2015</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">The Future of ILLiad Addons</h3>
                    <div class="subheading mb-3">IDS Conference · Syracuse, NY</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">August 2014</span>
                    </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">Extending ILLiad through Addons, Web Customizations, and other shiny things</h3>
                    <div class="subheading mb-3">ILLiad International Conference · Virginia Beach, VA</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">March 2014</span>
                    </div>
                </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">
                            Better, Faster, Stronger: Extending the power of ILLiad through Addons, Web Page customizations, and other shiny things.</h3>
                    <div class="subheading mb-3">IDS Conference · Syracuse, NY</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">August 2013</span>
                    </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">An introduction to Developing Addons for ILLiad</h3>
                    <div class="subheading mb-3">ILLiad International Conference · Virginia Beach, VA</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">March 2011</span>
                    </div>
                </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                    <h3 class="mb-0">Content Management Systems for Library Web Sites</h3>
                    <div class="subheading mb-3">American Library Association · Orlando, FL</div>
                    </div>
                    <div class="resume-date text-md-right">
                    <span class="text-primary">June 2004</span>
                    </div>
                </div>
        </div>
      </section>

