<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publications">
    <div class="my-auto">
        <h2 class="mb-5">Publications</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <p>Calsada, M. (2006). Ares-Automating Reserves. Journal of Interlibrary Loan,Document Delivery &amp; Electronic Reserve, 16(3), 21-25. doi:10.1300/j474v16n03_04</p>
            <p>Cohen, L. B., Calsada, M. M., & Jeziorkowski, F. J. (2005). ScratchPad: A Quality Management Tool for Library Web Sites. In Content and Workflow Management for Library Web Sites (pp. 102-126). Hershey, PA: Information Science Publishing.</p>
            <p>Cohen, L. B., & Calsada, M. M. (2003). Web accessible databases for electronic resource collections: a case study and its implications. The Electronic Library, 21(1), 31-38. doi:10.1108/02640470310462399</p>    
        </div>
        </div>
    </div>
</section>

