<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}

    <div class="container-fluid p-0">
      {% include about.html %}

      {% include experience.html %}

      {% include skills.html %}

      {% include education.html %}

      {% include certifications.html %}

      {% include publications.html %}

      {% include presentations.html %}

      {% include contact.html %}

      {% include modals.html %}
    </div>

    {% include javascript.html %}

  </body>

</html>
